<div class="content">
    <div class="space-around">
        <div class="question-title"><b>Umfrage Jugend Forum Hoffung</b></div>
        <hr />
        <div class="textBox">
            Mit dieser kleinen Umfrage wollen wir ausloten, wie das allgemeine Stimmungsbild in unserer Jugend aussieht,
            um
            auf dieser Basis darüber nachzudenken, wie es mit der Jugend in den kommenden Tagen, Monaten und Jahren
            weiter
            gehen soll. Sie
            dauert bei oberflächlicher Beantwortung 10, bei ausführlicher 20 Minuten. Am Ende werden ein paar Fragen zu
            deiner Person kommen. Diese Angaben sind freiwillig. Allerdings würde es uns schon weiterhelfen, zu wissen
            mit
            wem wir es zu tun haben. <br />
            Ihr könnt gern direkt und Ehrlich sein. Wir halten das aus. Die Daten bleiben selbstverständlich
            unveröffentlicht.<br /><br />
            Mit den besten Grüßen,<br />
            euer Leitungskreis</div>
        <div class="startButtonBox">
            <app-action-button class="startButton" text="LOS GEHTS" styleType="1" actionBinding="StartSurvey">
            </app-action-button>
        </div>

    </div>
</div>