<div class="content">
    <div class="space-around">
        <div class="question-title"><b>Umfrage Jugend Forum Hoffung</b></div>
        <hr />
        <div class="textBox">
            Liebe(r) Jugendliche(r),<br/>
            uns als Inputteam liegt es auf dem Herzen, die kostbare Botschaft von Gottes heiligem Wort, der Bibel uns Jugendlichen näher zu bringen. Wir wünschen uns, dass wir alle durch die Jugendstunden Gott immer besser kennen lernen, stetig im Glauben ermutigt und gestärkt werden und darin angeleitet werden, was es bedeutet als Christ sein Leben nach Jesus auszurichten. Deshalb würden wir uns sehr freuen, wenn du dir 20 Minuten Zeit nehmen könntest, um die nachfolgenden anonymen Fragen zu beantworten. Uns als Inputteam bist du damit eine große Unterstützung für die Gestaltung der kommenden Themenreihen, deshalb besten Dank dafür! 
            <div class="startButtonBox">
                <app-action-button class="startButton" text="LOS GEHTS" styleType="1" actionBinding="StartSurvey">
                </app-action-button>
            </div>

        </div>
    </div>
</div>