<div class="content">
    <div class="space-around">
        <div class="question-title"><b>Umfrage Jugend Forum Hoffung</b></div>
        <hr />
        <div class="textBox">
            Hallo liebe Jugend, vor ungefähr einem Jahr haben wir als Jugendleitung angefangen, uns grundsätzlich Gedanken über
            die Vision für unsere Jugend zu machen. Wenig später haben wir auch euch mit reingenommen. Nun möchten wir eine
            Zwischenbilanz ziehen und uns die übergeordnete Frage stellen: Wie wurden die neuen Ideen und die Vision schon
            umgesetzt und wie können wir die Vision noch besser umsetzen?<br/>
                Dazu interessiert uns eure Meinung und eure Wahrnehmung, die wir mit dieser Umfrage sammeln wollen. Dazu noch drei
                Hinweise vorneweg:<br/>
                    <div style="margin-left: 30px; margin-top: 10px">- Nun haben wir durch die sich sehr in die Länge ziehende Corona-Situation
                        immer wieder verschiedene Anpassungen
                        vornehmen müssen und einige Dinge sind auch nicht so gelaufen, wie wir uns das vor einem Jahr vorgestellt
                        hatten.
                        Bitte bezieht eure Antworten auf die aktuelle Situation. Wenn ihr etwas für eine zukünftige Jugend ohne
                        Corona sagen
                        wollt, dann stellt das so klar.<br/>
                        </div>
                        <div style="margin-left: 30px; margin-top: 10px">
                            - Wenn ihr noch ausführlicher antworten wollt, dann kommt einfach auf einen von uns zu oder schreibt
                            an
                            Leik@forum-hoffnung.de und wir treffen uns gern mal mit euch, um konkret über eure Gedanken zu
                            sprechen.
                        </div>
                        <div class="startButtonBox">


                            <app-action-button class="startButton" text="LOS GEHTS" styleType="1" actionBinding="StartSurvey">
                            </app-action-button>
                        </div>

                    </div>
                </div>