.centered_div {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    height: 100%;
    width: 100%;
}

.logoutButton {
    position: absolute;
    right: 15px;
}