<div class="content">
    <div class="centered_div">
        <div>
            <div>
                <app-input-component type="action" [textbox]="true" width="400" text="Deine Frage"
                    actionInputBinding="Action.SaveQuestion.Data.Text">
                </app-input-component>
            </div>
            <div>
                <app-select-component width="400" text="Jugendstunde"
                    outputValueBinding="Action.SaveQuestion.Data.Category" listDataBinding="Data.JugendStunde"
                    showValues="Thema, Datum"></app-select-component>
            </div>
            <div>
                <app-action-button width="400" text="Absenden" actionBinding="SaveQuestion">
                </app-action-button>
            </div>
            <div style="float: right">
                <app-text-component opasityTime="80" textMode="text" icon="check" dataInputBinding="Data.SaveSucces" text="Deine Frage wurde gespeichert"></app-text-component>
            </div>
        </div>
    </div>
    <app-action-button class="logoutButton" text="Logout" actionBinding="LogoutAction">
        </app-action-button>
</div>