.binding-dialog .mat-dialog-container {
  min-width: 700px !important;
  height: auto;
  overflow: hidden;

  .modeler-content-left {
    width: 500px;
  }

  .modeler-content-right {
    width: 700px;

    .binding-form-field {
      margin-top: 11px;
      max-width: 239px;
      min-width: 239px;
    }

    .vertical-center-box {
      position: relative;

      .vertical-center {
        left: 50%;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .hover-cell{
      cursor: pointer;
    }

    .hover-cell:hover {
      background-color: #dcdcdc;
    }

    .global-class-cell {
      padding-left: 12px;
      border-bottom: 1px solid #c9c9c9;
    }

    .table {
      display: table;
      height: 100%;

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }
    }

    .menu-top-icon:hover {
      background-color: #e5e5e5;
    }
  }

  .full-width {
    width: 100%;
  }
}

.mat-dialog-container {
  padding: 12px;

  .mat-toolbar {
    flex: 1 0 auto;
    min-height: initial;
  }
}
