.mat-button {
  width: 100%;
}

.submitbutton {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(117, 117, 117);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(117, 117, 117);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(117, 117, 117);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(117, 117, 117);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(117, 117, 117);
  cursor: pointer;
  display: inline-block;
  font-family: "Gotham Light";
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 20px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 150px;
  outline-color: rgb(211, 211, 211);
  outline-style: solid;
  outline-width: 0.8px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: rgb(117, 117, 117);
  text-decoration-color: rgb(117, 117, 117);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: button;
}
