<input id="imageUploader" display="none" hidden type="file" accept="image/*" (change)="handleInputChange($event)" />
<div id="atled-layout-designer">
    <div fxLayout="row wrap">
        <atled-layout-designer-menu-top fxFlex="100">
        </atled-layout-designer-menu-top>
    </div>
    <div fxLayout="row wrap" class="full-height-flex">
        <div fxFlex="36px">
            <atled-layout-designer-menu-left [currentCreationMode]="currentCreationMode"
                (onCreationModeChanged)="changeCreationMode($event)">
            </atled-layout-designer-menu-left>
        </div>
        <div fxFlex id="layout-desinger-space-around" class="layout-desinger">
            <div class="zoom-elements">
                <div class="zoom-element zoom-element-top" style="border-bottom: 1px solid black;">+</div>
                <div class="zoom-element zoom-element-bootom">-</div>
            </div>
            <!--<div id="atled-layout-designer-chipcard"></div>-->
            <div class="cardBoundary" #cardBoundary>
            </div>
        </div>
        <div fxFlex="20">
            <atled-layout-designer-menu-right (change)="menuRightChanged()" [selectetObject]="selectedObject"
                [currentCreationMode]="currentCreationMode">
            </atled-layout-designer-menu-right>
        </div>
    </div>
</div>