@font-face {
  font-family: Gotham Light;
  src: url(assets/fonts/GothamLight.otf) format("opentype");
}

#atled-layout-designer {
  height: 100%;
  border: 1px solid blue;

  display: flex;
  flex-direction: column;

  .full-height-flex {
    background-color: green;
    flex: 1 1 auto;
    display: flex;
  }

  .layout-desinger {
    background-color: white;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;

    #atled-layout-designer-chipcard {
      border: 3px dotted black;
      border-radius: calc(height/4px);
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .zoom-elements {
      float: right;
      margin-top: 12px;
      margin-right: 12px;
      border: 1px solid black;
      border-radius: 3px;

      .zoom-element {
        background-color: white;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        width: 24px;
        height: 24px;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none;
      }

      .zoom-element-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .zoom-element-bootom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .zoom-element:hover {
        background-color: rgb(213, 213, 213);
      }
    }
  }

  .card-boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
  }
}

::ng-deep .renderableObject {
  cursor: pointer;
  position: absolute;
  border: 1px solid black;
}

::ng-deep .renderableObject:hover {
  border: 1px solid gray;
}

::ng-deep .selected-object {
  border: 1px solid green;
}

::ng-deep .selected-object:hover {
  border: 1px solid green;
}

::ng-deep .not-dragable-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-drag: none;
}

::ng-deep .textFieldInput {
  font-family: "Gotham Light";
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  resize: none;
}

::ng-deep .centered-image-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

::ng-deep .centered-image-div-outer-uuu {
  position: relative;
  height: 100%;
  width: 100%;
}
::ng-deep .centered-image-div-outer {
  background-color: red;
  position: absolute;
  left: 476mm;
  top: 43mm;
  height: 187.5mm;
  width: 142.5mm;
  background-image: url(https://res.cloudinary.com/css-tricks/image/fetch/w_600,q_auto,f_auto/https://cdn4.buysellads.net/uu/7/53660/1572641638-MC_CSSTricks_logo_600x600.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

::ng-deep .simple-image-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

::ng-deep .simple-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:host {
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
}
