<div class="content">
    <div class="content">
        
            <div class="question-title"><div class="space-around">
                Vielen Dank, fürs mitmachen!<br/>
            Könntest du dir vielleicht vorstellen, auch mal einen Input zu halten oder einen Kleingruppenzettel vorzubereiten oder ganz allgemein im Inputteam mitzuarbeiten? Dann melde dich gern bei Rahel Kramer! Wir im Inputteam freuen uns über Leute, die Begeisterung für Gottes Wort haben und denen es auf dem Herzen liegt, die wertvolle Botschaft des Evangeliums in der Jugend groß zu machen!
Vielen Dank, dass du dir die Zeit genommen hast die Umfrage auszufüllen und damit unsere Arbeit als Inputteam zu unterstützen!
<br/><br/>
Liebe Grüße, <br/>
Euer Inputteam</div>
            
        </div>
    </div>
</div>