/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gotham Light;
  src: url(assets/fonts/GothamLight.otf) format("opentype");
}

body {
  margin: 0;
  font-family: "Gotham Light";
}
