<div id="atled-layout-designer-menu-right">
    <div class="menu-right-inner-title">
        <div>
            <mat-icon class="menu-right-title-icon">{{selectedObject?.icon}}</mat-icon>
            <div class="menu-right-title">{{selectedObject?.typeName}}</div>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Style">
            <div class="menu-properties menu-right-inner" fxFlex>
                <ng-container>
                    <div fxLayout="column" style="padding-bottom: 12px; padding-top: 6px">
                        <div *ngIf="getValue('typeName') == 'Bild'" style="padding-bottom: 12px; margin-top: -3px">
                            <mat-radio-group (change)="setValue('imagePosition', $event.value)"
                                [value]="getValue('imagePosition')" aria-label="Select an option">
                                <div fxLayout="column">
                                    <div class="radio" fxFlex>
                                        <mat-radio-button [value]="imagePositions.Center">Zentrieren</mat-radio-button>
                                    </div>
                                    <div class="radio" fxFlex>
                                        <mat-radio-button [value]="imagePositions.Adapt">Anpassen</mat-radio-button>
                                    </div>
                                    <div class="radio" fxFlex>
                                        <mat-radio-button [value]="imagePositions.AdaptWidht">Höhe beschneiden
                                        </mat-radio-button>
                                    </div>
                                    <div class="radio" fxFlex>
                                        <mat-radio-button [value]="imagePositions.AdaptHeight">Breite beschneiden
                                        </mat-radio-button>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div fxLayout="row wrap">
                            <div *ngFor="let valueName of getEditableValuesOfSelectedObject(); let odd=odd; let even=even;"
                                [fxFlex]="selectedObject.halfStyleProperties.includes(valueName) ? '50':'100'"
                                class="$valueInput"
                                [ngClass]="getHalfPropertyClass(valueName)">

                                <ng-container
                                    *ngIf="!(valueName == 'backgroundColor' || valueName == 'borderColor') && getValueType(valueName) == 'number'">

                                    <ng-container *ngIf="(valueName == 'position.x')">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>left</mat-label>
                                            <input type="number" [min]="getMinValue(valueName)"
                                                [max]="getMaxValue(valueName)" autocomplete="off" matInput
                                                placeholder="top" (input)="setInput()" [value]="getValue(valueName)"
                                                (focusout)="setValue(valueName, $event.target.value)"
                                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="(valueName == 'position.y')">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>top</mat-label>
                                            <input type="number" [min]="getMinValue(valueName)"
                                                [max]="getMaxValue(valueName)" autocomplete="off" matInput
                                                placeholder="left" (input)="setInput()" [value]="getValue(valueName)"
                                                (focusout)="setValue(valueName, $event.target.value)"
                                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container *ngIf="!(valueName == 'position.y' || valueName == 'position.x')">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>{{valueName}}</mat-label>
                                            <input type="number" [min]="getMinValue(valueName)"
                                                [max]="getMaxValue(valueName)" autocomplete="off" matInput
                                                [placeholder]="valueName" (input)="setInput()"
                                                [value]="getValue(valueName)"
                                                (focusout)="setValue(valueName, $event.target.value)"
                                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                                        </mat-form-field>
                                    </ng-container>

                                </ng-container>
                                <ng-container
                                    *ngIf="!(valueName == 'backgroundColor' || valueName == 'borderColor') && getValueType(valueName) == 'string'">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>{{valueName}}</mat-label>
                                        <input autocomplete="off" matInput [placeholder]="valueName"
                                            (input)="setInput()" [value]="getValue(valueName)"
                                            (focusout)="setValue(valueName, $event.target.value)"
                                            (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                                    </mat-form-field>
                                </ng-container>
                                <ng-container *ngIf="(valueName == 'backgroundColor' || valueName == 'borderColor')">
                                    <div fxLayout="row">
                                        <div fxFlex><!--(colorPickerClose)="setValue(valueName, colors[valueName])"-->
                                            <mat-form-field style="width: 100%">
                                                <mat-label>{{valueName}}</mat-label>
                                                <input matInput [colorPicker]="getPropertyByValueName(valueName)"
                                                    [cpDisableInput]="false" [cpAlphaChannel]="'disabled'"
                                                    [cpOutputFormat]="'hex'" [cpFallbackColor]="'#111111'"
                                                    [cpPosition]="'bottom'" [cpDialogDisplay]=""
                                                    [cpWidth]="'294px'"
                                                    [cpCloseClickOutside]="true" [cpSaveClickOutside]="true"
                                                    [value]="getValue(valueName)"
                                                    
                                                    (colorPickerChange)="colorChanged(valueName, $event)"
                                                    (keyup)="checkEnterPress($event.code, valueName, $event.target.value)" />
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="20px">
                                            <div [style.backgroundColor]="getValue(valueName)"
                                                style="width: 100%; height: 38px; margin-top: -8px"></div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="getValueType(valueName) == 'list'">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>{{valueName}}</mat-label>
                                        <mat-select (selectionChange)="setValue(valueName, $event.value)"
                                            [(value)]="selectedObject[valueName]">
                                            <mat-option *ngFor="let data of selectedObject[valueName + 'Properties']"
                                                [value]="data">
                                                {{data}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-container>
                                <ng-container *ngIf="getValueType(valueName) == 'listAndWrite'">
                                    <div class="inputAndSelect">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>{{valueName}}</mat-label>
                                            <input type="text" autocomplete="off" matInput [placeholder]="valueName"
                                                (input)="setInput()" [value]="getValue(valueName)"
                                                (focusout)="setValue(valueName, $event.target.value)"
                                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                                            <mat-select (selectionChange)="setValue(valueName, $event.value)">
                                                <mat-option
                                                    *ngFor="let data of selectedObject[valueName + 'PropertiesNotFixed']"
                                                    [value]="data">
                                                    {{data}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Css-Classes">
            <div class="menu-properties menu-right-inner" fxFlex>
                <ng-container *ngIf="cssMode && selectedObject">
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <mat-form-field fxFlex>
                                <mat-label>Class</mat-label>
                                <mat-select fxFlex [(ngModel)]="selectedClass"
                                    (selectionChange)="addCssClass($event.value)">
                                    <mat-option *ngFor="let data of globalCssClasses" [value]="data">
                                        {{data.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="24px">
                                <mat-icon class="menu-right-title-icon add-icon" (click)="addNewClass()">add</mat-icon>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column" class="class-list">
                            <div *ngFor="let class of selectedObject.cssClassList"
                                class="global-class-cell vertical-center-box" (click)="editCssClass(class)"
                                fxFlex="36px">
                                <div class="vertical-center">
                                    <div fxLayout="row" class="full-width">
                                        <div fxFlex>
                                            <div class="table">
                                                <div class="table-cell">{{class.name}}</div>
                                            </div>
                                        </div>
                                        <div fxFlex="24px">
                                            <mat-icon class="menu-right-title-icon click-icon"
                                                (click)="removeCssClass(class); $event.stopPropagation();">
                                                close
                                            </mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div *ngFor="let class of selectedObject.cssClassList" fxFlex fxLayout="row">
                    <div fxFlex>{{class.name}}</div>
                    <div fxFlex="24px">
                        <mat-icon class="menu-right-title-icon click-icon" (click)="editCssClass(class)">edit</mat-icon>
                    </div>
                    <div fxFlex="24px">
                        <mat-icon class="menu-right-title-icon click-icon" (click)="removeCssClass(class)">close
                        </mat-icon>
                    </div>
                </div>-->
                    </div>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>