<div id="atled-layout-designer-menu-right">
    <div class="menu-right-inner-title">
        <div>
            <mat-icon class="menu-right-title-icon">{{selectedObject?.icon}}</mat-icon>
            <div class="menu-right-title">{{selectedObject?.typeName}}</div>
        </div>
    </div>
    <div class="menu-properties menu-right-inner" fxFlex>

        <div fxLayout="column" style="padding-bottom: 12px; padding-top: 6px">
            <div *ngIf="getValue('typeName') == 'Bild'" style="padding-bottom: 12px; margin-top: -3px">
                <mat-radio-group (change)="setValue('imagePosition', $event.value)" [value]="getValue('imagePosition')"
                    aria-label="Select an option">
                    <div fxLayout="column">
                        <div class="radio" fxFlex>
                            <mat-radio-button [value]="imagePositions.Center">Zentrieren</mat-radio-button>
                        </div>
                        <div class="radio" fxFlex>
                            <mat-radio-button [value]="imagePositions.Adapt">Anpassen</mat-radio-button>
                        </div>
                        <div class="radio" fxFlex>
                            <mat-radio-button [value]="imagePositions.AdaptWidht">Höhe beschneiden</mat-radio-button>
                        </div>
                        <div class="radio" fxFlex>
                            <mat-radio-button [value]="imagePositions.AdaptHeight">Breite beschneiden</mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <div *ngFor="let valueName of getEditableValuesOfSelectedObject()" fxFlex class="$valueInput">
                <ng-container
                    *ngIf="!(valueName == 'backgroundColor' || valueName == 'borderColor') && getValueType(valueName) == 'number'">
                    <ng-container *ngIf="(valueName == 'position.x')">
                        <mat-form-field style="width: 100%">
                            <mat-label>left</mat-label>
                            <input type="number" [min]="getMinValue(valueName)" [max]="getMaxValue(valueName)"
                                autocomplete="off" matInput placeholder="top" (input)="setInput()"
                                [value]="getValue(valueName)" (focusout)="setValue(valueName, $event.target.value)"
                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="(valueName == 'position.y')">
                        <mat-form-field style="width: 100%">
                            <mat-label>top</mat-label>
                            <input type="number" [min]="getMinValue(valueName)" [max]="getMaxValue(valueName)"
                                autocomplete="off" matInput placeholder="left" (input)="setInput()"
                                [value]="getValue(valueName)" (focusout)="setValue(valueName, $event.target.value)"
                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="!(valueName == 'position.y' || valueName == 'position.x')">
                        <mat-form-field style="width: 100%">
                            <mat-label>{{valueName}}</mat-label>
                            <input type="number" [min]="getMinValue(valueName)" [max]="getMaxValue(valueName)"
                                autocomplete="off" matInput [placeholder]="valueName" (input)="setInput()"
                                [value]="getValue(valueName)" (focusout)="setValue(valueName, $event.target.value)"
                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                        </mat-form-field>
                    </ng-container>

                </ng-container>
                <ng-container
                    *ngIf="!(valueName == 'backgroundColor' || valueName == 'borderColor') && getValueType(valueName) == 'string'">
                    <mat-form-field style="width: 100%">
                        <mat-label>{{valueName}}</mat-label>
                        <input autocomplete="off" matInput [placeholder]="valueName" (input)="setInput()"
                            [value]="getValue(valueName)" (focusout)="setValue(valueName, $event.target.value)"
                            (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="(valueName == 'backgroundColor' || valueName == 'borderColor')">
                    <div fxLayout="row">
                        <div fxFlex>
                            <mat-form-field style="width: 100%">
                                <mat-label>{{valueName}}</mat-label>
                                <input matInput [colorPicker]="getPropertyByValueName(valueName)"
                                    [cpDisableInput]="false" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'"
                                    [cpFallbackColor]="'#111111'" [cpPosition]="'bottom'" [cpDialogDisplay]=""
                                    [cpWidth]="getColorPickerWidth() + 'px'" [cpCloseClickOutside]="true"
                                    [cpSaveClickOutside]="true" [value]="getValue(valueName)"
                                    (colorPickerClose)="setValue(valueName, colors[valueName])"
                                    (colorPickerChange)="colorChanged(valueName, $event)"
                                    (keyup)="checkEnterPress($event.code, valueName, $event.target.value)" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20px">
                            <div [style.backgroundColor]="getValue(valueName)"
                                style="width: 100%; height: 38px; margin-top: -8px"></div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="getValueType(valueName) == 'list'">
                    <mat-form-field style="width: 100%">
                        <mat-label>{{valueName}}</mat-label>
                        <mat-select (selectionChange)="setValue(valueName, $event.value)"
                            [(value)]="selectedObject[valueName]">
                            <mat-option *ngFor="let data of selectedObject[valueName + 'Properties']" [value]="data">
                                {{data}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="getValueType(valueName) == 'listAndWrite'">
                    <div class="inputAndSelect">
                        <mat-form-field style="width: 100%">
                            <mat-label>{{valueName}}</mat-label>
                            <input type="text" autocomplete="off" matInput [placeholder]="valueName"
                                (input)="setInput()" [value]="getValue(valueName)"
                                (focusout)="setValue(valueName, $event.target.value)"
                                (keyup)="checkEnterPress($event.code, valueName, $event.target.value)">
                            <mat-select (selectionChange)="setValue(valueName, $event.value)">
                                <mat-option *ngFor="let data of selectedObject[valueName + 'PropertiesNotFixed']"
                                    [value]="data">
                                    {{data}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>