<div class="no-scroll-container">
    <app-action-button class="logoutButton" text="Logout" actionBinding="LogoutAction">
    </app-action-button>
    <div class="question-table-inner">
        <app-select-component width="400" text="Jugendstunde" outputValueBinding="Action.FilterDataAction.Condition"
            listDataBinding="Data.JugendStunde" showValues="Thema, Datum" onSelectActionBinding="FilterDataAction" 
            selectAllOptionAction="GetAllQuestionsAction" selectAllOptionText="- Alle -">
        </app-select-component>
        <app-data-table listDataBinding='Data.Question' showValues="text"></app-data-table>
    </div>
</div>