.logoutButton {
    position: absolute;
    right: 0px;
}

.no-scroll-container {
    height: 100vh;
    overflow: hidden;
  }

.question-table-inner {
    margin: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
}